<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Donations</title>


    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon/apple-touch-icon.png" />
        <!-- <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png" /> -->
       <link rel="stylesheet" href="/vendors/simplemde/simplemde.min.css">
        
        <link rel="manifest" href="/assets/img/favicon/site.webmanifest" />
        <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="theme-color" content="#ffffff" />
        <!-- <link type="text/css" href="/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" /> -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/vendor/@glidejs/glide/dist/css/glide.core.min.css" />
        <link rel="stylesheet" href="/vendor/@glidejs/glide/dist/css/glide.theme.min.css" />
        <link type="text/css" href="style_.css" rel="stylesheet" />
        <script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-THQTXJ7"></script>
        <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-141734189-6"></script>
	<!-- core:css -->
	<link rel="stylesheet" href="/vendor/core/core.css">
	<!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="/vendor/datatables.net-bs4/dataTables.bootstrap4.css">
	<!-- end plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/assets/fonts/feather-font/css/iconfont.css">
	<link rel="stylesheet" href="/vendor/flag-icon-css/css/flag-icon.min.css">
	<!-- endinject -->
  <!-- Layout styles -->  
	<link rel="stylesheet" href="/style_.css">
  <!-- End layout styles -->
  <link rel="shortcut icon" href="/assets/img/logo.jpg" />
</head>
    <body>
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THQTXJ7" height="0" width="0" style="display: none; visibility: hidden;"></iframe></noscript>
       