<%- include('partials/head') %>
<%- include('partials/nav') %>

        <main>
            <div class="preloader bg-dark flex-column justify-content-center align-items-center show">
                <svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 64 78.4">
                    <path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z" style="stroke-dasharray: 41, 43; stroke-dashoffset: 0;"></path>
                    <path fill="none" stroke="#fff" stroke-width="11.2" width="0" height="25.6" d="M40 17.6 L40 17.6 L40 43.2 L40 43.2 Z" style="stroke-dasharray: 52, 54; stroke-dashoffset: 0;"></path>
                    <path
                        fill="none"
                        stroke="#fff"
                        stroke-opacity="0.4"
                        stroke-width="11.2"
                        width="0"
                        height="25.6"
                        d="M23 35.2 L23 35.2 L23 60.800000000000004 L23 60.800000000000004 Z"
                        style="stroke-dasharray: 52, 54; stroke-dashoffset: 0;"
                    ></path>
                    <path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z" style="stroke-dasharray: 71, 73; stroke-dashoffset: 0;"></path>
                    <path fill="none" stroke="#fff" stroke-width="11.2" width="0" height="25.6" d="M6 52.8 L6 52.8 L6 78.4 L6 78.4 Z" style="stroke-dasharray: 52, 54; stroke-dashoffset: 0;"></path>
                    <path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z" style="stroke-dasharray: 42, 44; stroke-dashoffset: 0;"></path>
                    <path fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" width="0" height="11.2" d="M57.8 17.6 L57.8 17.6 L57.8 28.8 L57.8 28.8 Z" style="stroke-dasharray: 23, 25; stroke-dashoffset: 0;"></path>
                    <path fill="none" stroke="#fff" stroke-width="11.2" width="0" height="11.2" d="M6 35.2 L6 35.2 L6 46.400000000000006 L6 46.400000000000006 Z" style="stroke-dasharray: 23, 25; stroke-dashoffset: 0;"></path>
                    <path fill="none" stroke="#fff" stroke-width="11.2" width="0" height="11.2" d="M40.2 49.6 L40.2 49.6 L40.2 60.8 L40.2 60.8 Z" style="stroke-dasharray: 23, 25; stroke-dashoffset: 0;"></path>
                    <path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z" style="stroke-dasharray: 41, 43; stroke-dashoffset: 0;"></path>
                    <path fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="28.8" width="0" height="11.2" d="M31.6 0 L31.6 0 L31.6 11.2 L31.6 11.2 Z" style="stroke-dasharray: 23, 25; stroke-dashoffset: 0;"></path>
                    <path fill="none" stroke="#fff" stroke-width="28.8" width="0" height="11.2" d="M14 17.6 L14 17.6 L14 28.8 L14 28.8 Z" style="stroke-dasharray: 23, 25; stroke-dashoffset: 0;"></path>
                </svg>
            </div>
            <section class="text-primary">
                <div class="row mt-0 mb-0">
                    <div class="mx-auto">
                        <div id="Carousel3" class="carousel slide" data-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#Carousel3" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#Carousel3" data-bs-slide-to="1" aria-label="Slide 2"></button> <button type="button" data-bs-target="#Carousel3" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active"><img class="d-block w-100" src="/assets/img/carousel-3.jpg" alt="First slide" /></div>
                                <div class="carousel-item"><img class="d-block w-100" src="/assets/img/carousel-2.jpg" alt="Second slide" /></div>
                                <div class="carousel-item"><img class="d-block w-100" src="/assets/img/carousel-3.jpg" alt="Third slide" /></div>
                            </div>
                            <a class="carousel-control-prev" href="#Carousel3" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span> <span class="sr-only">Previous</span> </a>
                            <a class="carousel-control-next" href="#Carousel3" role="button" data-bs-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span> <span class="sr-only">Next</span></a>
                        </div>
                    </div>
                </div>
                
                <div class="section section-md">
                    <div class="container">
                        <div class="row mb-6">
                            <div class="col-md-12 text-center"><span class="h5">Contacts</span></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-lg-4 text-center">
                                <div class="icon-box mb-4">
                                    <div class="icon icon-dark mb-4"><span class="fas fa-map-marker-alt"></span></div>
                                    <h2 class="h5 icon-box-title">Visit us</h2>
                                    <span>
                                        C1A, Sheikh Ismail Street,
                                       <br>3rd Avenue,
                                        <br />
                                         Gwarinpa, Abuja
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 text-center">
                                <div class="icon-box mb-4">
                                    <div class="icon icon-dark mb-4"><span class="fas fa-phone-volume"></span></div>
                                    <h2 class="h5 icon-box-title">Call</h2>
                                    <span>+234 902 262 0000</span>
                                    <div class="text-small text-gray">Mon - Fri, 8am - 4pm</div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-4 text-center">
                                <div class="icon-box mb-4">
                                    <div class="icon icon-dark mb-4"><span class="far fa-paper-plane"></span></div>
                                    <h2 class="h5 icon-box-title">Email</h2>
                                    <a href="#">al-ilm@foundation.org</a>
                                </div>
                            </div>
                        </div>
                       </div>
                </div>
                <section class="section section-lg pt-0">
                    <div class="container">
                        
                        <div class="row mb-5">
                            <div class="col-12 col-lg-10 text-center">
                                <h2 class="h1 fw-light mb-4">Check out our <span class="fw-bold">Blogs </span> & <span class="fw-bold">Programs </span></h2>
                                <p class="lead"></p>
                            </div>
                        </div>
                        <div class="row justify-content-between mt-4">
                            <div class="col-sm-12 col-md-6 col-lg-5 mb-5 mb-md-0">
                                <div class="icon-box">
                                    <div class="icon icon-shape icon-shape-secondary organic-radius mb-4"><span class="fas fa-blog"></span></div>
                                    <h3 class="h4">Blogs</h3>
                                    <p class="my-3">
                                        Our blogs serve as a dynamic platform to share timely updates, valuable insights, and inspiring stories about our
                                         ongoing initiatives and charitable programs. We strive to keep our community informed and engaged, offering a glimpse
                                          into the impactful work we undertake. Through our blog posts, we aim to foster a sense of connection, transparency, 
                                          and inspiration, inviting readers to join us in making a positive difference in the lives of those we serve.
                                    </p>
                                    <a href="/blogs" class="btn btn-sm btn-primary animate-up-1"><span class="far fa-eye"></span> <span class="ms-1">See more</span></a>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-5">
                                <div class="icon-box">
                                    <div class="icon icon-shape icon-shape-secondary organic-radius mb-4"><span class="fas fa-tablet-alt"></span></div>
                                    <h3 class="h4">Programs</h3>
                                    <p class="my-3">
                                        At the heart of our mission is a commitment to empowering the less fortunate and guiding our youth toward a path of productivity 
                                        and fulfillment. Through a diverse range of projects and programs, we address the critical needs of vulnerable communities, providing 
                                        essential resources, education, and support. Our initiatives aim to create lasting positive impact, fostering self-sufficiency, and 
                                        equipping individuals with the tools needed for a brighter future. Whether through educational initiatives, skill development programs, 
                                        or community outreach, we are dedicated to transforming lives and building a foundation for sustainable success.
                                    </p>
                                    <a href="/causes" class="btn btn-sm btn-primary animate-up-1"><span class="far fa-eye"></span> <span class="ms-1">See more</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </section>
                <section class="section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <form action="#" class="col-md-8">
                                <div class="text-center">
                                    <h2 class="h1 fw-light">Subscribe <span class="fw-bold">To Our </span>Newsletter</h2>
                                    <p class="lead mb-5">Get updates from our monthly Newsletter.</p>
                                </div>
                                <div class="form-group">
                                    <div class="input-group"><input type="email" class="form-control form-control-lg rounded-start" placeholder="Your email" required /> <button class="btn btn-tertiary" type="submit">Subscribe</button></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </section>
           
           
            
        </main>
        <!-- <section class="section py-0">
            <div class="container z-2">
                <div class="row position-relative justify-content-center align-items-cente">
                    <div class="col-12">
                        <div class="card border-gray-300 px-4 py-1">
                            <div class="card-body text-center text-md-left">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <h2 class="h1 mb-3">Become one of us</h2>
                                        <p class="lead mb-4">Do you want to join our team and work remotely from anywhere you’d like? We can’t wait to hear from you!</p>
                                        <a href="#" class="btn btn-primary">
                                            <span class="me-1"><span class="fas fa-file-invoice"></span> </span>Check Careers
                                        </a>
                                    </div>
                                    <div class="col-12 col-md-6 mt-5 mt-md-0 text-md-right"><img src="assets/img/illustrations/reading-side.svg" alt="" /></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        
        <%- include('partials/footer') %>
        <%- include('partials/end') %>