<%- include('partials/head') %>
<%- include('partials/nav') %>
        <main>
            <div class="preloader bg-dark flex-column justify-content-center align-items-center">
                <svg id="loader-logo" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 64 78.4">
                    <path fill="#fff" d="M10,0h1.2V11.2H0V10A10,10,0,0,1,10,0Z" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="40" y="17.6" width="0" height="25.6" />
                    <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="23" y="35.2" width="0" height="25.6" />
                    <path fill="#fff" d="M52.8,35.2H64V53.8a7,7,0,0,1-7,7H52.8V35.2Z" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="52.8" width="0" height="25.6" />
                    <path fill="#fff" d="M52.8,0H57a7,7,0,0,1,7,7h0v4.2H52.8V0Z" />
                    <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="11.2" x="57.8" y="17.6" width="0" height="11.2" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="6" y="35.2" width="0" height="11.2" />
                    <rect fill="none" stroke="#fff" stroke-width="11.2" x="40.2" y="49.6" width="0" height="11.2" />
                    <path fill="#fff" d="M17.6,67.2H28.8v1.2a10,10,0,0,1-10,10H17.6V67.2Z" />
                    <rect fill="none" stroke="#fff" stroke-opacity="0.4" stroke-width="28.8" x="31.6" width="0" height="11.2" />
                    <rect fill="none" stroke="#fff" x="14" stroke-width="28.8" y="17.6" width="0" height="11.2" />
                </svg>
            </div>
            <section class="section-header pb-10 pb-lg-11 mb-4 mb-lg-6 bg-primary text-white">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center mb-2 mb-lg-3">
                            <h1 class="display-2 font-weight-extreme mb-4">Volunteer Program</h1>
                            <div class="d-flex flex-column flex-lg-row justify-content-center">
                                <span class="h5 mb-3 mb-lg-0"><span class="fas fa-map-marker-alt"></span><span class="ms-3">Gwarinpa, Abuja-FCT</span></span>
                                <span class="ms-lg-5 mb-3 mb-lg-0 h5"><span class="fas fa-user-tie"></span><span class="ms-3">Part Time</span></span>
                                
                            </div>
                            <blockquote class="blockquote text-inherit text-center" style="background-color: rgba(28, 70, 17, 0.411);">
                                When a man dies, his acts come to an end, but three, recurring charity or knowledge 
                                <span class="small">(by which people)</span> benefit, or a pious son, 
                                    who prays for him <span class="small">(for the deceased)
                            </blockquote>
                            <!-- <p> When a man dies, his acts come to an end, but three, recurring charity or knowledge 
                                <span class="small">(by which people)</span> benefit, or a pious son, 
                                    who prays for him <span class="small">(for the deceased)</span> 
                            </p> -->
                        </div>
                        <!-- <div class="col col-12 text-center">
                            <a href="./careers.html" class="btn btn-outline-white text-white me-3"><span class="fas fa-arrow-left me-2"></span>See All Jobs</a>
                            <a href="#apply" class="btn btn-tertiary"><span class="fas fa-clipboard-list me-2"></span>Apply Now</a>
                        </div> -->
                    </div>
                </div>
                <div class="pattern bottom"></div>
            </section>
            <section class="section section-lg pt-0">
                <div class="container mt-n8 mt-lg-n11 z-2">
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="card border-gray-300 p-3 p-md-5">
                                <p class="lead mb-5">
                                    <strong class="font-weight-extreme">Al-Ilm Islamic Foundation</strong> is actively searching for dedicated individuals to join our team of volunteers in making a positive impact on the lives of those less fortunate. Our volunteer opportunities encompass a wide range of meaningful activities, including teaching essential life skills, professional skills, and providing support in utilities maintenance. By contributing your time and expertise, you have the chance to make a tangible difference in the lives of others and empower them for a brighter future. Join us in our mission to extend a helping hand to those in need, and together, let's build a stronger, more supportive community.
                                </p>
                                
                                <h2>Why Volunteer With Us?:</h2>
                                <ul class="list-unstyled mb-5">
                                    <li class="py-3 lead">
                                        <div class="d-flex">
                                            <span class="icon icon-sm me-3"><span class="fas fa-arrow-alt-circle-right"></span></span>
                                            <div><span><h6 class="text-primary">Meaningful Impact:</h6></span> 
                                                By volunteering with us, you will contribute to initiatives that directly impact the lives of less fortunate youths/family.</div>
                                        </div>
                                    </li>
                                    <li class="py-3 lead">
                                        <div class="d-flex">
                                            <span class="icon icon-sm me-3"><span class="fas fa-arrow-alt-circle-right"></span></span>
                                            <div><span><h6 class="text-primary">Personal Growth:</h6></span>
                                                Our volunteer opportunities provide a platform for personal and professional development. You will gain valuable skills, experiences, and connections that will benefit you in various aspects of your life.                                                
                                            </div>
                                        </div>
                                    </li>
                                   
                                    <li class="py-3 lead">
                                        <div class="d-flex">
                                            <span class="icon icon-sm me-3"><span class="fas fa-arrow-alt-circle-right"></span></span>
                                            <div><span><h6 class="text-primary"> Join a Supportive Community:</h6></span>
                                                Al-Ilm Islamic Foundation is more than just a group of volunteers; it's a community that shares a common goal. You'll meet like-minded individuals who are passionate about making a positive change.
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <h2>Volunteer works:</h2>
                                <div class="row">
                                    <div class="col">
                                        <ul class="list-unstyled mb-5">
                                            <li class="py-3 lead">
                                                <div class="d-flex">
                                                    <span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span>
                                                    <div>Community Outreach and Education</div>
                                                </div>
                                            </li>
                                            <li class="py-3 lead">
                                                <div class="d-flex">
                                                    <span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span>
                                                    <div>Food Distribution Programs</div>
                                                </div>
                                            </li>
                                            <li class="py-3 lead">
                                                <div class="d-flex">
                                                    <span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span>
                                                    <div>Educational Support Programs</div>
                                                </div>
                                            </li>
                                            <li class="py-3 lead">
                                                <div class="d-flex">
                                                    <span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span>
                                                    <div>Islamic Counseling and Guidance
                                                    </div>
                                                </div>
                                            </li>
                                            
                                        </ul>
                                    </div>

                                    <!-- SECOND COLUMN -->

                                    <div class="col"> 
                                        <ul class="list-unstyled mb-5">
                                            <li class="py-3 lead">
                                                <div class="d-flex">
                                                    <span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span>
                                                    <div>Orphanage Support</div>
                                                </div>
                                            </li>
                                            <li class="py-3 lead">
                                                <div class="d-flex">
                                                    <span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span>
                                                    <div>Skills Development Workshops
                                                    </div>
                                                </div>
                                            </li>
                                        
                                            <li class="py-3 lead">
                                                <div class="d-flex">
                                                    <span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span>
                                                    <div>Life Skills</div>
                                                </div>
                                            </li>
                                            <li class="py-3 lead">
                                                <div class="d-flex">
                                                    <span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span>
                                                    <div>Women's Empowerment Initiatives</div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <div id="apply" class="row">
                                    <div class="col">
                                        <div class="card bg-gray-200 border-gray-300 text-black py-4 p-lg-5">
                                            <div class="card-body p-3 p-md-4">
                                                <div class="mb-5 mb-lg-6 text-center"><h2 class="h1">Apply for volunteer work</h2></div>
                                                <form action="/volunteer/application/submit" method="post">
                                                    <div class="row">
                                                        <div class="col-12 col-md-6">
                                                            <div class="mb-3">
                                                                <label for="firstNameLabel">First Name <span class="text-danger">*</span></label>
                                                                <div class="input-group">
                                                                    <span class="input-group-text" id="basic-addon1"><span class="fas fa-user-alt"></span></span>
                                                                    <input name="f_name" type="text" class="form-control" id="firstNameLabel" placeholder="First Name" aria-label="name" aria-describedby="basic-addon1" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="mb-3">
                                                                <label for="lastNameLabel">Last Name <span class="text-danger">*</span></label>
                                                                <div class="input-group">
                                                                    <span class="input-group-text" id="basic-addon2"><span class="fas fa-user-alt"></span></span>
                                                                    <input name="s_name" type="text" class="form-control" id="lastNameLabel" placeholder="Last Name" aria-label="last name" aria-describedby="basic-addon2" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="mb-3">
                                                                <label for="EmailLabel">Email <span class="text-danger">*</span></label>
                                                                <div class="input-group">
                                                                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>
                                                                    <input name="email" type="text" class="form-control" id="EmailLabel" placeholder="Can we get your email?" aria-label="email" aria-describedby="basic-addon3" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="mb-3">
                                                                <label for="portfolioLabel">Profession <span class="text-danger">*</span></label>
                                                                <div class="input-group">
                                                                    <span class="input-group-text" id="basic-addon4"><span class="fas fa-link"></span></span>
                                                                    <input name="profession" type="text" class="form-control" id="portfolioLabel" placeholder="Profession..." aria-label="portfolio" aria-describedby="basic-addon4" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-md-6">
                                                            <div class="mb-3">
                                                                <label for="phonenumberLabel">Phone Number <span class="text-danger">*</span></label>
                                                                <div class="input-group">
                                                                    <span class="input-group-text" id="basic-addon5"><span class="fas fa-phone-square-alt"></span></span>
                                                                    <input name="phone" type="text" class="form-control" id="phonenumberLabel" placeholder="Phone Number" aria-label="Search" aria-describedby="basic-addon5" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-md-6 mb-3">
                                                            <label for="gender">Gender</label>
                                                            <select class="form-select" name="gender" id="gender" aria-label="Default select example">
                                                                <option value="Female">Female</option>
                                                                <option value="Male">Male</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-12 col-md-12">
                                                            <div class="mb-3">
                                                                <label for="formFile" class="form-label">Choose File <span class="text-danger">*</span></label> <input class="form-control" type="file" id="formFile" />
                                                            </div>
                                                        </div>
                                                        <div class="col col-12 mt-4">
                                                            <div>
                                                                <label class="form-label text-muted" for="phonenumberLabel">Few words... <span class="text-danger"></span></label>
                                                                <textarea name="self_statement" class="form-control" placeholder="Tell us a bit more about yourself or the work you do, " id="message-2" rows="8" required></textarea>
                                                            </div>
                                                            <div class="text-center">
                                                                <button type="submit" class="btn btn-secondary mt-4">
                                                                    <span class="me-2"><span class="fas fa-paper-plane"></span></span> Submit Application
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <%- include('partials/footer') %>
        <%- include('partials/end') %>